body {
    background-color: #d3d3d3;
}

.hero {
    background-color: #87ceeb;
    color: #333333;
    width: 350px;
}

.about {
    background-color: #e0f7fa;
    color: #0000ff;
    width: 350px;
}

.skills {
    background-color: #dceeff;
    color: #1a237e;
    width: 350px;
}

.contact {
    background-color: #0000ff;
    color: #ffffff;
    width: 200px;
}
.footer{
    background-color: #6495ed;
    color: #000000;
    width: 350px;
}

.contact button {
    background-color: #ffffff;
    color: #0000ff;
    border: 2px solid #ffffff;
    padding: 3px 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.contact button:hover {
    background-color: #0000ff;
    color: #ffffff;
}
